*{
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0;
}

.container-menu{
    width: 250px;
    height: 100vh;
    background-color: rgb(10, 10, 10);
    .user-perfil{
        display: flex;
        gap: 5px;
        justify-content: center;
        padding: 20px;
        img{
            width: 20px;
        }
        p{
            
            color: white;
        }
    }
    .options{
        display: flex;
        flex-direction: column;
        height: 500px;
        .option1{
            display: flex;
            justify-content: center;
            gap: 5px;
            padding: 20px;
            p{
                color: white;
            }
        }
        .option1:hover{
            zoom: 0.95;
        }
    }
    .config{
        display: flex;
        justify-content: center;
        gap: 5px;
        color: white;
    }
}